#blog-page {
	.block-articles {
		.category {
			padding: 5px 10px;
			margin-right: 10px;
			background: lightgray;
			border-radius: 5px;
			text-decoration: none;
			color: black;
		}
		.card-img-top {
			margin-top: 10px;
		}
	}
}
